<!doctype html>
<html lang="pr-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Cadastro_de_produto</title>
</head>
<body>
    <nav style="background-color: black !important;" class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span style="color: white;" class="navbar-brand mb-0 h1" ><a href="{% url 'home' %}">Voltar para pagina inicial</a></span>
        </div>
    </nav>
    <div class="container"><br>
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>CODIGOS</th>
                <th>DESCRICAO</th>
                <th>QUANTIDADE</th>
            </tr>
            {% for produto in produtos_novo %}
            <tr>
                <td>{{produto.id_produto}}</td>
                <td>{{produto.codigo}}</td>
                <td>{{produto.descricao}}</td>
                <td>{{produto.quantidade}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>
</html>