<!doctype html>
<html lang="pr-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Cadastro_de_produto</title>
</head>
<nav style="background-color: black !important;" class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span style="color: white;" class="navbar-brand mb-0 h1"><a href="{% url 'historico' %}">Cadastro de Produto</a></span>
  </div>
</nav>

<body>
  <form action="{% url 'historico' %}" method="post">
    {% csrf_token %}
    <div style="text-align:center;" class="container"><br>
      CÓDIGOS <input name="codigo" class="form-control-sm" type="text">
      DESCRIÇÃO <input name="descricao" class="form-control-sm" type="text">
      QUANTIDADE <input name="quantidade" class="form-control-sm" type="text">

      <button class="form-control-sm">Salvar</button>
    </div>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</body>

</html>